body {
  background-color: #f0f0f0;
  min-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

article,
section {
  text-align: center;
  padding-top: 20px;
}

.text {
  color: #000000;
  text-decoration: none;
  font-size: 1.7vw;
  font-family: "Nanum Pen Script", cursive;
  align-self: center;
}

.perlaPicture {
  margin: 0 1% 0 20%;
  height: 300px;
  width: 300px;
  float: left;
  display: block;
}
.perlaPicture img {
  height: 30%;
  width: 30%;
}
.perlaFrame {
  margin: 0 15% 0 1%;
  height: 300px;
  width: 300px;
  float: right;
  display: block;
}
.perlaFrame img {
  height: 30%;
  width: 30%;
}

.banner {
  width: 100%;
  height: 70vh;
}

.perlaInfo {
  margin: 0 auto;
}

.perlaInfo > p {
  margin-left: 20%;
  margin-right: 40%;
  text-align: left;
  font-size: 2vw;
}
.projectInfo > p {
  margin-right: 15%;
  margin-left: 45%;
  text-align: left;
  font-size: 2vw;
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 600px) {
  .perlaPicture {
    margin-left: 10%;
    height: 200px;
    width: 200px;
    float: left;
    display: block;
  }
  .perlaPicture img {
    height: 30%;
    width: 30%;
  }
  .perlaFrame {
    margin-right: 10%;
    height: 200px;
    width: 200px;
    float: right;
    display: block;
  }
  .perlaFrame img {
    height: 30%;
    width: 30%;
  }
  .perlaInfo > p {
    font-size: 5vw;
    margin-left: 10%;
    margin-right: 10%;
  }
  .projectInfo > p {
    margin-right: 10%;
    margin-left: 10%;
    font-size: 5vw;
  }
  .text {
    font-size: 30px;
  }
  .banner {
    width: 100%;
    height: 100%;
  }
}
