.footer {
  z-index: 2;
  bottom: 0;
  background-color: #e1dfdf;
  left: 0%;
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 0px 0px 0px;
}
.footerLinks, .footerTags {
  padding: 0%;
}
li {
  margin: 10px 0;
}
.footerLogo {
  padding-top: 30px;
}
.fa-instagram {
  color: black;
}
.footerLinksMobile{
  display: none;
}

@media (max-width: 600px){
  .footerLinksDesktop, .footerTags{
    display: none;
  }
  
  .footerLinksMobile{
    display: block;
  }

}