.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px 75px 0px 75px;
  z-index: 1;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s ease;
}

.gallery img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .gallery {
    display: grid;
    grid-column-gap: 0px;
    grid-template-columns: 1fr;
    margin: 0px 50px 0px 50px;
  }

  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery img:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

/*
img {
    transition:transform 0.25s ease;
}

img:active {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}*/
